.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  flex-basis: 30%;

  gap: 1rem;

  padding: 0.75rem;

  border-radius: 0.5rem;

  box-shadow: 0 0 6px #c1c1c1;
}
