.view-all-jobs {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .link {
    padding: 1rem 0;
    width: clamp(30%, 300px, 80%);
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    text-align: center;
  }
}
